<form id="create-animal">
  <input name="name" placeholder="animal name">
  <input name="breed" placeholder="animal breed">
  <input name="dob" placeholder="date of birth">
  <input name="gender" placeholder="animal gender">
  <input name="family" placeholder="animal's family">
  <input name="status" placeholder="status">
  <button>Create</button>
</form>

<div id="show-animals"></div>