<!DOCTYPE html>  
<html lang="en">
  <head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <script src="../js/main.js"></script>
    <title>Animal Shelter</title>
  </head>
  <body>
    <h1>ANIMAL SHELTER</h1>
    <%- body %>
  </body>
</html>
